
<div class="bg-off-white pv4 bghome"> 
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title tc mb ff-title" style='color: #d9b0b1;padding-bottom:3rem'>Grab a snack and enjoy our post!</h2>

		<div class="w-100 flex-ns mhn6-ns flex-wrap mb3 ff-pagraph">
			{{ range where .Data.Pages "Type" "post" }}
			<div class="ph2-ns w-50-ns flex">
				{{ .Render "li" }}
			</div>
			{{ end }}
		</div>

<div class="tc" style= 'padding-top:1rem; padding-bottom:1rem'>
			<a href="/post" class="btn raise">Read more</a>
		</div>

</div>


