<div class="bghome jumbotron-fluid " >
    <div class="container">
      <h2 class="display-3 text-center primary " style= 'padding-bottom:1rem; padding-top:1rem'> How can we help you? </h2>
      <p class="mb58 mw9 tc text-center " style= 'padding-bottom:1.5rem'> The Midtime Talk offers a wide range of services to meet your branding and design needs at very affordable prices <arbb class= "font-italic">(that's awesome right?).</arbb> Our services are <arbb class= "primary b">“the crème de la crème” </arbb>we can make your project a reality with a strong visual identity because we know first impressions are a MUST to catch the ideal audience but without forgetting your essence in the process.</p>
    </div>

  </div>