<footer class=" jumbotron ph3 pv4 black bghome" style='background-color: white'>

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/home/msolafinal.png" alt="m midtime logo" class="db w4 center mb4 br0">
			<h1 class="f3 lh-title  b tc mb2 h" style='color: #d9b0b1;text-shadow: 1px 1px #6b6a6a'>Subscribe </h1>
			<p class="tc" style='font-family:Raleway'> Get awesome snacks in your inbox and enjoy The Midtime Talk any moment.</p>

			{{ partial "newsletter-form" . }}

		</div>

	
		<div class="container">
			<div class="row">
				<div class="col-sm">
						<div>
						<h3 class="f4 b lh-title mb1 primary tc" style='text-shadow: 1px 1px #6b6a6a'>The Midtime Talk</h3>
						<ul class="mb3 tc" style='font-family:raleway'>
							<li>
								<a href="/" class="link">Home sweet home</a>
							</li>
							<li>
								<a href="/products" class="link">Our services</a>
							</li>
							<li>
								<a href="/values" class="link">About us</a>
							</li>
							<li>
								<a href="/post" class="link">Blog</a>
							</li>
							<li>
								<a href="/portfolio" class="link">Our work 🗃</a>
							</li>
								</ul>
							</div>
				</div>
				<div class="col-sm">
						<div>
						<h3 class="f4 b lh-title mb1 primary tc" style='text-shadow: 1px 1px #6b6a6a'>Let's meet up!</h3>
						<ul class="mb3 tc" style='font-family:raleway'>
							<li>
								<a href="/post/jamaica-blue/" class="link">Our latest midtime talk</a>
							</li>
							<li>
								<a href="/contact" class="link">Come talk to us 🤳🏻</a>
							</li>
								</ul>
							</div>
				</div>
				<div class="col-sm">
						<div>
						<h3 class="f4 b lh-title mb1 primary tc" style='text-shadow: 1px 1px #6b6a6a'>Follow us</h3>
								<ul class="mhn2 tc">
									
								
									{{ partial "social-icon" (dict "link" "https://www.facebook.com/The-Midtime-Talk-288660084960736/" "svg" "facebook") }}
									<!--{{ partial "social-icon" (dict "link" "#" "svg" "twitter") }}-->
									{{ partial "social-icon" (dict "link" "https://www.instagram.com/midtimetalk/" "svg" "instagram") }}
									{{ partial "social-icon" (dict "link" "https://www.pinterest.com/midtimetalk/pins/" "svg" "pinterest") }}
									
									<!--{{ partial "social-icon" (dict "link" "#" "svg" "vimeo") }}-->
								</ul>
							</div>
				</div>
			</div>
		</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
 crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
 crossorigin="anonymous"></script>

</body>

</html>
