<div class="pv6 pv6-l ph6 bg-center cover o-90 " style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3"> 
    <div class="db mb3 tc">
      <div class="mw7 relative bg-primary mb3">
        <h1 class=" f-5-l normal di lh-title mb3 white mw6 bg-fix-primary " style='font-family: Satisfy-Regular'  >
          {{.title}} 
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-fix-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>