<div class="bghome jumbotron-fluid " >
    <div class="container">
      <h1 class="display-3 text-center primary " style= 'padding-bottom:1rem'> Believe in the power of communication.</h1>
      <p class="mb58 mw9 tc text-center " > We can create personalized marketing strategies for you. <p class="mb58 mw9 text-center">We can develop a marketing strategy you already have visually through design.</p><p class="mb58 mw9 text-center"> We can boost your brand and business with the best message for your ideal audience.</p><p class="mb58 mw9 text-center"style= 'padding-bottom:1.5rem'>We can advise on topics of audiovisual, marketing, advertising, brand and much more.</p> 
        </p>
    </div>

  </div>