<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="pa0 db h-100 w35 flex-none navbar-brand">
      <ul class="nav nav-pills ph0 ma0">
      <img src="/img//home/msolafinal.png" alt="Midtime-talk logo" class="br1 ph0 db mb0 w-40" />
    </a>


    <ul class="nav justify-content-center ff-title">
      <li class="nav-item">
        <span id="search-button" class="pa3 db search-button"><img class="search-algolia" src="/img/global/search.svg"/></span>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/products">Our packs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/values">About us</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
  </nav>
  <div id="search-box" class="ais-search-box">
  </div>

  <div id="refinement-list">
  </div>

  <div id="hits">
  </div>
</body>
</html>

