<form action="" class="flex-ns mb3">

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns"  style= 'font-family: cardo' name="newsletter" action="newsletter-subscribe">
    <input type="text" id="name" placeholder="Your name" class="w-100">
    <label for="Name">Your name</label>
  </fieldset>
  <fieldset class="flex-auto mb2 mb0-ns mr2-ns"  style= 'font-family: cardo' name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Your email" class="w-100">
    <label for="email">Your email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise"  style= 'font-family: cardo' type="submit">Submit</button>

</form>
