<form action="" class="flex-ns mb3">

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns"  name="newsletter" action="newsletter-subscribe">
    <input type="text" id="name" placeholder="Name" class="w-100">
    <label for="Name">Your name</label>
  </fieldset>
  <fieldset class="flex-auto mb2 mb0-ns mr2-ns"  name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Email" class="w-100">
    <label for="email">Your email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise"  type="submit">Submit</button>

</form>
