

<div class= "jumbotron" style= 'padding-bottom: 8rem; background-color: white'>
<div class=" columns">
  <ul class="price">
    <li class="header b" style= 'background-color: #d9b0b1; font-family:cardo'>BRANDING</li>
    <li class="grey b" style='font-family:cardo'>$ 50 </li>
    <li style='font-family:cardo'>Logo design pack</li>
    <li style='font-family:cardo'>Mood/style/brand board</li>
    <li style='font-family:cardo'>Stationery pack</li>
    <li style='font-family:cardo'>Social media design (profile)</li>
    <li class="grey" style= 'background-color: grey3'><a href="#" class="button b"style= 'background-color: #d9b0b1; font-family:cardo'>I WANT IT!</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header b" style= 'background-color: #d9b0b1; font-family:cardo'>LOGO DESIGN</li>
    <li class="grey b" style='font-family:cardo'>$ 12 </li>
    <li style='font-family:cardo'>Primary & secondary logos</li>
    <li style='font-family:cardo'>Submarks & stamps</li>
    <li style='font-family:cardo'>Mood board</li>
    <li style='font-family:cardo'>Logo guidelines</li>
    <li class="grey" style= 'background-color: grey3'><a href="#" class="button b"style= 'background-color: #d9b0b1; font-family:cardo'>I WANT IT!</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header b" style= 'background-color: #d9b0b1; font-family:cardo'>STATIONERY</li>
    <li class="grey b" style='font-family:cardo'>$ 15 </li>
    <li style='font-family:cardo'>Business/gift/greetings cards</li>
    <li style='font-family:cardo'>Letterhead design</li>
    <li style='font-family:cardo'>Packaging stickers design</li>
    <li style='font-family:cardo'>Guidelines/presentation</li>
    <li class="grey" style= 'background-color: grey3'><a href="#" class="button b" data-toggle="modal" data-target="#exampleModalLong" style= 'background-color: #d9b0b1; font-family:cardo'>I WANT IT!</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header b" style= 'background-color: #d9b0b1; font-family:cardo'>SOCIAL MEDIA</li>
    <li class="grey b" style='font-family:cardo'>$ 40 </li>
    <li style='font-family:cardo'>Mood board </li>
    <li style='font-family:cardo'>Template design</li>
    <li style='font-family:cardo'>Creative writing</li>
    <li style='font-family:cardo'>Publishing/post</li>
    <li class="grey" style= 'background-color: grey3'><a href="#" class="button b"style= 'background-color: #d9b0b1; font-family:cardo'>I WANT IT!</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header b" style= 'background-color: #d9b0b1; font-family:cardo'>CONSULTANCY</li>
    <li class="grey b" style='font-family:cardo'>$ 20 </li>
    <li style='font-family:cardo'>45 min of advice</li>
  
    <li class="grey" style= 'background-color: grey3'><a href="#" class="button b"style= 'background-color: #d9b0b1; font-family:cardo'>I WANT IT!</a></li>
  </ul>
</div>

<div class="card bg-primary text-white text-center p-3">
  <blockquote class="blockquote mb-0 b">
    <p>Contact us to know more about the plan that you like the most and be useful for your business. We will tell you the creative process step by step.</p>
    <footer class="blockquote-footer i">
      <small>
        <cite title="Source Title " style= "color: white"> Midtime Talk founders</cite>
      </small>
    </footer>
  </blockquote>
</div>
</div>