<div class="container">
		<div class="row">
			<div class="col-sm ">
					<h1 class="f2 b lh-title  text-center" style= 'color:#d9b0b1'>Who are we?</h1>
					<p class= "text-center"> We are <abbr class= "b" style= 'color:#d9b0b1'>spontaneous, dramatic, fun and empowered</abbr> women who want to share everything we can about the things we love and maybe those we do not, why not? </p><p class="text-center">And in the <abbr class="font-italic">-midtime-</abbr> with <abbr class= "b" style= 'color: #d9b0b1'>dedication, hard work and a lot of creativity</abbr> we could help you to develop the project you want to achieve, in the best communicational way through our knowledge and skills. 🎉</p>
						
				</div>
			<div class="col-sm" style= 'padding-top:2rem; padding-bottom:1rem' >
					<img src="/img/home/homewhoarewe.jpg" class="img-fluid" alt="Responsive image">	
									
			</div>
		
		</div>
		<div class="tc" style= 'padding-bottom:1rem'> 
				<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
			</div>		
	</div>

