<div class="container">
		<div class="row">
			<div class="col-sm">
					<div class=" pv4">
						
										<h2 class="f2 b lh-title mb2 tr primary">Our work</h1>
											<p class="tr">{{.text}}</p>
										</div>
							
			</div>
			<div class="col-sm">
					<div class="col-sm b5" style='padding-left:0rem; padding-top:1.5rem; padding-bottom:1rem'>				
					
							<img src="img/home/ourworkfinal.jpg">
						</div>
					</div>
			</div>

		<div class="tc" style= 'padding-bottom:1rem'>
				<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
			</div>
	
		</div>
	</div>


	</div>
</div>
