<div class="container">
	<div class="row">
		<div class="col-sm">
				<div class="col-sm" style= 'padding-bottom:3rem'>
						<h1 class="f2 b lh-title  text-center" style= 'color:#d9b0b1; padding-bottom:1rem'>Sorry for the inconvenience!</h1> <abbr class= "p  f4 text-center" style= 'color: rgb(15, 15, 15)'>We are working on our portfolio, if you want to know about the projects we have worked on, follow us on instagram </abbr><abbr class= "p  f4 text-center primary">@midtimetalk</abbr>
						
						</div>
		<div class="col-sm w-70 center" style= 'padding-bottom: 4rem'>				
				<img src="/img/home/waiting.jpg" class="img-fluid" alt="Responsive image">	
		</div>
	</div>
</div>