@font-face {
	font-family: 'lillybelle';
	src: url('../fonts/LillyBelle_2.woff') format('woff'),
		 url('../fonts/LillyBelle_2.woff2') format('woff2');
	}
	
@font-face {
	font-family: 'Efja';
	src: url('../fonts/Efja.woff2') format('woff2'),
		 url('../fonts/Efja.woff') format('woff'),
		url('../fonts/Efja.ttf') format('truetype');
	}


:root {
	/* Colors */
	--primary: #F46A8B;
	--highlight: #AFEFE7;
	--white: #f8f7f7;
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: #dddbdb;
	--grey-2: rgb(255, 255, 255);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--grey-5: rgb(245, 245, 245);

	/* Typography */
	--font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 20px;
	--font-size-l: 22px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;
}
