{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}
<!--
{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>


{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

 Full-width image
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" .Params.pricing }}-->

<div class="mw7 center ph3 pt4">
  
    {{ partial "media-block" (dict "heading" "BRANDING PACK" "text1" "Nowadays it is important to be relevant in your market, stand out from the competition and captivate the attention of your audience. Having a good brand (either personal or commercial) will help you identify with the public." "text4" "Don't waste your time and start creating that connection with us." "imageUrl" "/img/home/consultancy.jpg") }}
  
    {{ partial "media-block-reverse" (dict "heading" "LOGO DESIGN PACK" "text1" "So you have the perfect idea about what you want to do but don’t know how to delivery it in a..." "text2" "extraordinary, unique and visual way?" "text3" "Our help will boost your business trough a visual identity with the essence you have in mind for your project. You will be part of it collaborating with us thanks to the questionnaire we apply and the boards, also you will have 2-3 revisions before we finish the project. " "imageUrl" "/img/home/logodesign.jpg") }}
  
    {{ partial "media-block" (dict "heading" "STATIONERY PACK" "text1" "The key to success for new and old companies is to make a good impression at the right time in front of the possible (and perfect) partner and this pack will boost your business in this way! We can offer you a complete stationery including: business card, letterhead design, packaging sticker design, envelope design and if you need a greeting card, gift and note card design without additional cost." "text4" "(happy wallet alert here!)" "imageUrl" "/img/products/packstationery.jpg") }}
  
    {{ partial "media-block-reverse" (dict "heading" "SOCIAL MEDIA PACK" "text1" "We are here giving you the ideal tool to boost your business in social media and all our knowledge about communications, designs, creative writing, and of course putting our heart in it! We want to success by your side! The idea is to reach the goal together. " "text2" "#empoweredpeople #rocktheworld" "imageUrl" "/img/products/packsocial.jpg") }}
  
    {{ partial "media-block" (dict "heading" "CONSULTANCY PACK" "text1" "We are a team with our foot on the ground, professionals with a loose creativity, we think outside the box" "text2" "(even if this sound a little bit cliche)" "text3" "Our specialty is Marketing and Audiovisuals Arts and with this knowledge we want to be your brand’s support. Count on us and tell us what is bothering you and your brand!" "text4" " We can beat it baby. " "imageUrl" "/img/products/packconsultancy.jpg") }}
    
    {{partial "jumbotron-services"}}

  
    {{partial "table-services"}}


  </div>
  

{{ partial "footer" . }}
