{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3" style= 'background-color: #d9b0b1'>
	<div class="center mw6 pv3">

		<img src="/img/home/completelogo.png" alt="" class="db w8 center pv4">

		<p>Are you looking to upgrade your business with a stylish and creative brand that will get your clients excited and compromise about working with you? Or you just feel like your current branding is not the right one? We understand the overwhelming, stress and anxiety of following your dreams, we reeeeally get that! That’s why we are here to help you. We’d love to get in touch with you and hear your ideas and questions.</p>

		<h3 class="f4 b lh-title mb2 tc">Let’s connect and find the solution for your communicational problem ASAP!</h3>
		<p>You can use the form below for any questions about our packages, services or even if you need someone who can listen to your problems. We love to give advice! Don’t be shy, drop us a line!</p>

		
		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
