{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" }}

{{ partial "text-and-image" (dict "heading" "Who are we?" "text" "We are spontaneous, dramatic, fun and empowered women who want to share everything we can about the things we love and maybe those we do not, why not? And in the -midtime- with dedication, hard work and a lot of creativity we could help you to develop the project you want to achieve, in the best communicational way through our knowledge and skills." "buttonText" "Read about us" "buttonLink" "/values") }}

{{ partial "fluid-jumbotron" }}


{{ partial "blog" . }}

{{ partial "textportfolio" (dict "heading" "Portfolio" "text" "We are like you, strong and powerful people, a team with our foot on the ground, professionals with a loose creativity, We enjoy doing our job... Because when you work with passion nobody can deny it. Here is our work, our little precious thing 😆😎." "buttonText" "See our work" "buttonLink" "/portfolio") }}

{{ partial "footer" . }}
