{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Who are we?") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "What is our purpose?" "text1" "Our mission is to help others achieve their goals in the best communicational way, help them consolidate a strong, creative brand while we enjoy and talk about what shapes our journey. " "text4" "We want to create a brand that will be known for the way it helped building projects. To create a blog that will be recognize as a reference for its memorable and good writings. "  "imageUrl" "/img/home/msolafinal.png") }}

  {{ partial "media-block-reverse" (dict "heading" "Single origin" "text1" "There is nothing that can make us understand each other better than a conversation, but not any kind of conversation… We are talking about a spontaneous, fun and enjoyable conversation that make us really get to know each other and our objectives." "text2" " That’s what “The Midtime Talk” represents, a valuable moment where we can achieve our goals through creativity, development and project management while we enjoy the process.   " "imageUrl" "/img/home/fotoabout.jpg") }}
</div>
{{ partial "footer" . }}
